* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";
}

.header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "search userinfo"
                         "welcome upload";
}

.search {
    grid-area: search;
}

.userinfo {
    grid-area: userinfo;
}

.welcome {
    grid-area: welcome; 
}

.upload {
    grid-area: upload;
}

.sidebar {
    grid-area: sidebar;

    display: grid;
    grid-template-rows: 1fr 4fr 2fr 3fr;
    grid-template-areas: "logo"
                         "pages"
                         "resources";
}

.logo {
    grid-area: logo;
}

.pages {
    grid-area: pages;
}

.resources {
    grid-area: resources;
}

.main {
    grid-area: main;
}