@font-face {
    font-family: my-font;
    src: url(./assets/Quicksand-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: my-font, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";
}

.header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "search userinfo"
                         "welcome upload";

    background-color: #f8fafc;
}

.search {
    grid-area: search;
    align-items: center;

    display: flex;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.search > input {
    appearance: none;
    height: 30px;
    border: 1px solid #94a3b8;
    border-radius: 15px;
    background-color: #cbd5e1;
    flex: 1;
    max-width: 750px;
    text-align: center;
}

.userinfo {
    grid-area: userinfo;
    align-items: center;

    display: flex;
    gap: 30px;
    justify-content: end;
    padding-right: 75px;
}

.userinfo > div {
    font-weight: bold;
    font-size: 20px;
}

.welcome {
    grid-area: welcome;
    align-items: center;

    display: flex;
    gap: 20px;
    padding-left: 50px;
}

.welcome > div {
    font-weight: bold;
}

.welcome > div > div:last-child {
    font-size: 24px;
}

.upload {
    grid-area: upload;
    
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    padding-right: 50px;
}

.upload > button {
    height: 40px;
    width: 100px;
    border: 2px solid #94a3b8;
    border-radius: 20px;
    font-size: 16px;
    color: #f8fafc;
    background-color: #475569;
}

.sidebar {
    grid-area: sidebar;

    display: grid;
    grid-template-rows: 1fr 4fr 2fr 3fr;
    grid-template-areas: "logo"
                         "pages"
                         "resources";

    background-color: #475569;
}

.logo {
    grid-area: logo;
}

.pages {
    grid-area: pages;
}

.resources {
    grid-area: resources;
}

.main {
    grid-area: main;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "projects announcements"
                         "projects trending";
    
    background-color: #cbd5e1;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

img {
    height: 25px;
    width: 25px;
}

.profilepic {
    height: 50px;
    width: 50px;
    border: 1px solid #94a3b8;
    border-radius: 25px;
}

.welcome > .profilepic {
    height: 75px;
    width: 75px;
    border-radius: 50px;
}